######################
## Dummy Bed Heaters #
######################
#
## dummy inner heater
##[heater_bed]
##heater_pin: BED_HEATER
##sensor_type: ATC Semitec 104NT-4-R025H42G
##sensor_pin: BED_TEMP_OUTER   # Inner Loop: Heater Mat (Fast), under the mat 
##control: pid
##pullup_resistor: 2200        # For the Leviathan
##max_power: 1.0
##min_temp: 0
##max_temp: 140                # This is simply the maximum temperature you can use in normal operation
#
## PID_CALIBRATE HEATER=heater_bed TARGET=110
## INNER (become pid_inner)
## PID parameters for 110.00°C: pid_Kp=32.390 pid_Ki=0.393 pid_Kd=667.635
## OUTER
## PID parameters for 110.00°C: pid_Kp=46.089 pid_Ki=2.964 pid_Kd=179.172
#
##pid_kp=32.390
##pid_ki=0.393
##pid_kd=667.635

########################
# Dual Loop Bed Heater #
########################
[temperature_sensor bed_inner]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: BED_TEMP_INNER   # Inner Loop: Heater Mat (Fast), under the mat
pullup_resistor: 2200        # For the Leviathan
min_temp: 0
max_temp: 135                # Safety limit for the heater mat itself
                             # If the bed heater mat (BED_TEMP_INNER)
                             # temp exceeds this, Klipper shuts down.  
			     # Must be higher than inner_max_temp to 
			     # allow inner_max_temp to overshoot a bit
                             
[heater_bed]
heater_pin: BED_HEATER
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: BED_TEMP_OUTER   # Outer Loop: Aluminum Plate (Slow)
                             # This is the sensor in the aluminum bed
		             # It will always lag the bed heater sensor
pullup_resistor: 2200        # For the Leviathan
max_power: 1.0
min_temp: 0
max_temp: 130                # This is simply the maximum temperature
                             # you can use in normal operation

control: dual_loop_pid
inner_sensor_name: bed_inner

inner_max_temp: 125          # Safety limit for the inner control loop
                             # This is where the heater control loop
                             # will stabilize while waiting for the 
                             # outer loop to settle.
                             # It must be less than than the max temp
                             # for the heating mat (130 in this example)
                             # But high enough for the target temp to be reached
                             # Example:  For bed to settle at 110C, the heating pad
                             # has to settle to 119.2C.  If this was set to 115, 
                             # the bed temp would never reach 110C because there's
                             # about a 9C drop between heater pad temp and actual
                             # bed temp

# --- Outer Loop (Controls the Plate Temp) ---
# Safe, slow values for the thick aluminum plate.
# (We don't need to calibrate this perfectly because the inner loop is now tuned to prevent "runaway")
pid_kp=46.089
pid_ki=2.964
pid_kd=179.172

# --- Inner Loop (Controls the Heater Power) ---
inner_pid_kp=32.390
inner_pid_ki=0.393
inner_pid_kd=667.635

[verify_heater heater_bed]
check_gain_time: 120

# EXMAPLE STUFF
#[temperature_sensor Heater_Bed_Pad]
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: BED_TEMP_INNER
#min_temp: -20
#max_temp: 160
#pullup_resistor: 2200
#
#[heater_bed]
###	SSR Pin - HE1
#heater_pin: BED_HEATER
#max_power: 1
#
## Sensor in the bed
## thermal fuse outside pad, 135c
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: BED_TEMP_OUTER
#pullup_resistor: 2200
#min_temp: 0
#max_temp: 129
#
## The sensor in the pad
## Not knowing adhesive, many breakdown around 150c
#inner_sensor_name: Heater_Bed_Pad
#inner_max_temp: 140
#inner_pid_kp=32.390
#inner_pid_ki=0.393
#inner_pid_kd=667.635
#
#[verify_heater heater_bed]
#check_gain_time: 120
