[gcode_macro LOAD_FILAMENT]
description: Load filament and wake screen
gcode:
    SCREEN_ON
    # --- your existing load routine below ---
    # e.g.
    M83
    G92 E0
    G1 E40 F300
    G1 E20 F120

#[gcode_macro M600]
#rename_existing: M600.1
#gcode:
#    SCREEN_ON
#    M600.1
