[gcode_macro LOAD_FILAMENT]
description: Load filament and wake screen
gcode:
    SCREEN_ON

    M83
    G92 E0
    G1 E40 F300
    G1 E20 F120


[gcode_macro UNLOAD_FILAMENT]
description: Unload filament and wake screen
gcode:
    SCREEN_ON
    {% set unload_len = params.LENGTH|default(80)|float %}
    M83                          # Relative extrusion
    G92 E0
    G1 E8 F300                   # Purge/soften tip
    G1 E-15 F3600                # Fast initial retract (break the melt zone)
    G1 E-55 F1500      		 # Slow pull through the bowden/gears
    G92 E0

	#UNLOAD_FILAMENT          # uses default length
	#UNLOAD_FILAMENT LENGTH=50
