# Override G28 to home Y first then X
[gcode_macro G28]
rename_existing: G28.1
gcode:
    {% if 'X' in params or 'Y' in params or 'Z' in params %}
        G28.1 {rawparams}
    {% else %}
        G28.1 Y
        G28.1 X
        G28.1 Z
    {% endif %}


[gcode_macro PUSHOVER_PRINTING_NOW]
gcode:
  {action_call_remote_method("notify",
                             name="gcode_pushover",
                             message="Starting Print Now")}