[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    {% set th = printer.toolhead %}
    M400                           ; wait for buffer to clear
    SET_GCODE_OFFSET Z=0           ; clear dynamic Z offset from contact probe
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament

    G91                            ; relative positioning
    #G0 Z1.00 X20.0 Y20.0 F20000   ; move nozzle to remove stringing
    G0 Z1.00 X20.0 F20000          ; removed y move because if we are at the back we crash
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    
    # Post Print Parking
    #G0  X{th.axis_maximum.x//2} Y{th.axis_maximum.y} F3600            ; park nozzle at rear
    {% set park_z = [th.position.z + 10, 130]|max %}
    {% set park_z = [park_z, th.axis_maximum.z - 10]|min %}
    #G0 X{th.axis_maximum.x//4} Y{th.axis_maximum.y} Z{park_z} F3600
    G0 X10 Y{th.axis_maximum.y} Z{park_z} F3600

    ##  Uncomment for bed mesh (1 of 3 for bed mesh)
    BED_MESH_CLEAR

    # Force chamber fan to full speed for post-print circulation
    # Post-print air circulation: 2x theoretical air changes = ~10s
    # Using 300s to account for dead zones and filter dwell time
    SET_HEATER_TEMPERATURE HEATER=chamber TARGET=75
    UPDATE_DELAYED_GCODE ID=filter_off DURATION=300
    UPDATE_DELAYED_GCODE ID=chamber_fan_off DURATION=300

    STATUS_PART_READY
