###############################################
# AntHead Nitehawk 36 RGB Status Macros
# Single NeoPixel GRB on [neopixel Toolhead]
###############################################

[gcode_macro STATUS_OFF]
description: Turn off toolhead LED
gcode:
    SET_LED LED=Toolhead RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_READY]
description: Idle/ready - green
gcode:
    SET_LED LED=Toolhead RED=0 GREEN=0.5 BLUE=0 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_BUSY]
description: Busy/processing - orange
gcode:
    SET_LED LED=Toolhead RED=0.8 GREEN=0.3 BLUE=0 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_HEATING]
description: Heating hotend - red
gcode:
    SET_LED LED=Toolhead RED=1.0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_HOMING]
description: Homing axes - blue
gcode:
    SET_LED LED=Toolhead RED=0 GREEN=0 BLUE=1.0 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_LEVELING]
description: QGL in progress - yellow
gcode:
    SET_LED LED=Toolhead RED=0.8 GREEN=0.8 BLUE=0 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_MESHING]
description: Bed mesh in progress - cyan
gcode:
    SET_LED LED=Toolhead RED=0 GREEN=0.8 BLUE=0.8 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_CLEANING]
description: Nozzle clean/purge - purple
gcode:
    SET_LED LED=Toolhead RED=0.5 GREEN=0 BLUE=0.5 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_PRINTING]
description: Printing - white at reduced brightness
gcode:
    SET_LED LED=Toolhead RED=0.4 GREEN=0.4 BLUE=0.4 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_PART_READY]
description: Print complete - solid green
gcode:
    SET_LED LED=Toolhead RED=0 GREEN=1.0 BLUE=0 SYNC=0 TRANSMIT=1